/* ------ Fonts------ */

@font-face {
  font-family: 'Museo Sans 100';
  src: url('../fonts/MuseoSansCyrl-100.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MuseoSansCyrl-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/MuseoSansCyrl-100.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/MuseoSansCyrl-100.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MuseoSansCyrl-100.svg#svgMuseoSansCyrl-100') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Museo Sans 300';
  src: url('../fonts/MuseoSansCyrl-300.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MuseoSansCyrl-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/MuseoSansCyrl-300.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/MuseoSansCyrl-300.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MuseoSansCyrl-300.svg#svgMuseoSansCyrl-300') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Museo Sans 700';
  src: url('../fonts/MuseoSansCyrl-700.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MuseoSansCyrl-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/MuseoSansCyrl-700.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/MuseoSansCyrl-700.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MuseoSansCyrl-700.svg#svgMuseoSansCyrl-100') format('svg'); /* Legacy iOS */
}

/* ------ Specification ------ */

body {
  font-family: 'Museo Sans 300', sans-serif;
  font-size: 14px;
  color: #404048;
  padding: 0;
  margin: 0;
  letter-spacing: .02em;
  min-width: 320px;
}

div, p, form, input, a, span, button {
  box-sizing: border-box;
}

p {
  margin: 0 auto;
  font-family: 'Museo Sans 300';
  letter-spacing: 0.02em;
  line-height: 1.5em;
}

ul, li {
  display: block;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Museo Sans 700';
  color: #081d42;
  line-height: 1.3em;
  margin-bottom: 0;
  letter-spacing: 0em;
}

h1 {
  font-size: 58px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
  font-family: 'Museo Sans 700';
}

h4 {
  font-size: 23px;
}

h5 {
  font-size: 21px;
}

h6 {
  font-size: 13px;
}

a, a:hover, a:active {
  text-decoration: none;
}

a:hover, a:active {
  color: #fff;
}

a, button, input {
  transition: all 0.5s ease;
  color: inherit;
}

.container-fluid_plain {
  padding: 0;
}

.btn {
  background: #1cb883;
  box-shadow: 0 4px 0 0 #149d6f;
  color: #fff;
  
  
}

.btn:hover {
  border: none;
  border: 1px solid #1cb883;
  background-color: #149d6f;
  color: #fff;
  transition: all 0.4s ease;
  box-shadow: 0 0 0 #149d6f;
}



.navigation-btn:active, .footer__btn:active {
  box-shadow: none;
  margin-top: 4px;
}


button, button:hover, button:focus, button:active {
  outline: none;
}

.d-flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

/* --------------* HOME *-------------- */

/* ------ Hero screen ------ */

.header-home {
  background: url(../img/first-BG.jpg) no-repeat center top / cover;
  padding-bottom: 129px;
   border-top: 5px solid #58647a;
 box-shadow: inset 0px -17px 0px 0px rgba(241, 241, 241, 0.47);
}

.navigation {
  background: rgba(191, 194, 200, 0.6);
  padding: 12px 0 11px;
  border-bottom: 4px solid rgba(88, 100, 122, 0.08);
  position: absolute;
  z-index: 999;
  width: 100%;
  top: 0;
  left: 0;
}

.sticky {
  position: fixed;
}

.logo {
  max-width: 100%;
  min-width: 130px;
}

.menu {
  justify-content: space-around;
  width: 100%;
}

.menu__item {
  font-size: 17px;
  font-family: 'Museo Sans 700';
}


.menu__link:hover {
  color: #b81c31;
}

.menu-open {
    background: none;
    border: 0;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}

.navigation-btn {
  font-size: 13px;
  font-family: 'Museo Sans 700';
  width: 100%;
  max-width: 156px;
  line-height: 1.7em;
}

.burger {
  margin-left: 25px;
  padding: 0;
  background-color: transparent;
}

.burger__line {
  width: 23px;
  height: 4px;
  background-color: #3f4b60;
}

.burger__line:not(:last-child) {
  margin-bottom: 4px;
}
.menu-opened {
  text-align: center;
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(124,132,147,0.9);
  z-index: 99;
  box-shadow: 0 0 5px rgba(124,132,147,0.9);
}

.menu-opened .list__item:not(:last-child) {
  margin-right: 0;
} 

.menu-opened .list__item {
    padding: 10px 30px;
}

.menu-opened .menu__item {
  padding: 10px 30px;
  margin-bottom: 18px;
} 

.menu-opened li a {
  border-bottom: 2px solid rgba(255,255,255,0.5);
  color: #fff;
  padding-bottom: 2px !important;
} 

.menu-opened a:hover {
  color: #e5e6e8;
}

.offer {
  padding-top: 65px;

}

.offer__title {
  margin-left: -5px;
  margin-top: 118px;

}

.offer__text {
  color: #081d42;
  font-size: 29px;
  font-family: 'Museo Sans 100';
  max-width: 481px;
  margin-left: 0;
  letter-spacing: 0em;
  line-height: 1.22em;
  margin-top: 9px;
}

.offer__list {
  margin-top: 28px;
  background: rgba(255, 255, 255, 0.78);
  border-radius: 3px;
  border: 3px solid rgba(255, 255, 255, 0.41);
  display: inline-flex;
  padding: 8px 21px;
  background-clip: padding-box;

}

.offer__item {
  height: 29px;
  width: 29px;
  border: 2px solid;
  text-align: center;
  margin-right: 20px;
  transition: all 0.2s ease;
}

.offer__item:last-child {
  margin-right: 0;
}

.offer__item_facebook {
  color: #3d6ca8;
  border-color: #3d6ca8;
}

.offer__item_facebook:hover {
  color: #fff;
  border-color: #3d6ca8;
  background-color: #3d6ca8;
}

.offer__item_twitter {
  color: #43c9fd;
  border-color: #43c9fd;
}

.offer__item_twitter:hover {
  color: #fff;
  border-color: #43c9fd;
  background-color: #43c9fd;
}

.offer__item_telegram {
  color: #25a3d4;
  border-color: #25a3d4;
}

.offer__item_telegram:hover {
  color: #fff;
  border-color: #25a3d4;
  background-color: #25a3d4;
}

.offer__link {
  font-size: 16.67px;
  transition: all 0.3s ease;
}



/* ------ Trust ------ */

.trust {
  padding-top: 70px;
  background: #f1f1f3;
}

.trust h2 {
  margin-bottom: 38px;
}

.trust__element{
  border: none;
  margin-bottom: 30px;
}

.trust__icon {
  background: #c8cbdb;
  width: 119px;
  height: 119px;
  border-radius: 50%;
  padding-top: 27px;
  margin: 0 auto;
  max-width: 100%;
}

.trust__title {
  margin: 22px 0 11px 6px;
}

.trust__text {
  line-height: 1.3em;
}

.more__btn {
  display: block;
  margin: 0 auto;
  max-width: 170px;
  width: 100%;
  margin-top: 44px;
  margin-bottom: -24px;
  line-height: 1.9em;
}

/* ------ Business ------ */

.business {
  padding-top: 103px;
  font-family: 'Museo Sans 100';
  padding-top: 104px;
  padding-bottom: 79px;
}

.proposal__icon {
  background: #102e62;
  color: #fff;
  text-transform: uppercase;
  width: 86px;
  height: 86px;
  border-radius: 50%;
  margin: 0 auto;
  cursor: pointer;
  display: block;
  text-align: center;
  font-size: 50.11px;
  font-family: 'Museo Sans 100';
  padding-top: 4px;
}

.proposal__icon:hover {
  background: #ba162e;
}

.proposal__title {
  letter-spacing: 0em;
  margin: 7px 0 10px;
}
.proposal__title:first-letter {
  color: #b9162d;
}

.proposal__text {
  line-height: 1.25em;
}

/* ------ mission-news ------ */

.mission-news {
  background:#606b7f;
  padding-top: 39px;
  padding-bottom: 26px;
}

.mission__title {
  color: #fff;
  opacity: 45%;
  border-bottom: 3px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 6px;
}

.mission__title span {
  text-transform: uppercase;
}

.mission__block {
  font-size: 15px;
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.71);
  justify-content: space-between;
}

.mission__content p {
  line-height: 1.2em;
  letter-spacing: 0em;
  margin-bottom: 18px;
}

.mission__content_left {
  max-width: 470px;
  margin-right: 15px;
}

.mission__btn {
  border: 2px solid rgba(255, 255, 255, 0.71);
  font-size: 15.83px;
  max-width: 173px;
  padding: 8px 0;
  margin-top: 43px;
  display: block;
  text-align: center;
  letter-spacing: 0.04em;
}

.mission__btn:hover {
  background: #b9182e;
  border: 2px solid #b9182e;
}

.mission__btn:active {
  background: #b9182e;
  border: 2px solid #b9182e;
  box-shadow: 0 0 25px rgba(0,0,0,0.2) inset;
}
.mission__content_right {
  max-width: 370px;
}

.news__title {
  color: #fff;
  opacity: 45%;
  border-bottom: 3px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 6px;
}

.news__list {
  margin-top: 20px;
}




.news__item {
  position: relative;
  margin-bottom: 27px;
}

.news__item:after {
  display: block;
  content: ' ';
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 11px;
  position: absolute;
  left: 0;
  bottom: -12px;
}

.news__icon {
  max-width: 56px;
  width: 100%;
  margin-right: 14px;
  margin-top: 3px;
}

.news__icon img {
  width: 56px;
  height: 55px;
  object-fit: cover;
}

.news__text {
  max-width: 193px;
  line-height: 1.1em;
  color: rgba(255, 255, 255, 0.71);
}

.news__link {
  font-size: 12.5px;
  font-family: 'Museo Sans 700';
  color: #fff;
}

.news__link:hover {
  color: #1cb883;
}

.news__date {
  font-size: 10.42px;
  margin-top: 10px;
}

/* ------ information ------ */

.information{
  background: #3a4456;
  padding-top: 37px;
  font-family: 'Museo Sans 700';
}

.information__title {
  font-size: 19px;
  color: rgba(255, 255, 255, 0.66);
  letter-spacing: 0em;
}

.information__list {
  margin-top: 13px;
  margin-bottom: 41px;
  letter-spacing: 0em;
}

.information__list_short {
  margin-bottom: 64px;
}

.information__list_exshort {
  margin-bottom: 83px;
}

.information__item {
  font-size: 14px;
  font-family: 'Museo Sans 300';
  color: rgba(255, 255, 255, 0.46);
}

.information__link span {
  text-transform: uppercase;
}

/* ------ Footer ------ */

.footer {
  background: #1f2531;
  padding-top: 34px;;
  padding-bottom: 43px;
  border-bottom: 18px solid #58647a;
  color: rgba(255, 255, 255, 0.52);
}

.footer__logo {
  margin-top: -34px;
  display: block;
}

.logo__img {
  max-width: 100%;
  min-width: 130px;
}

.footer__info {
  font-size: 12px;
  font-family: 'Museo Sans 100';
  max-width: 201px;

}

.footer__info p {
  line-height: 1.25em;
  letter-spacing: -0.01em;
  margin-bottom: 14px;
}

.footer__info p:last-child {
  margin-bottom: 0;
}

.footer__layout {
  color: rgba(255, 255, 255, 0.63);
  font-size: 12.08px;
  font-family: 'Museo Sans 100';
  margin-bottom: 24px;
}

.footer__icon {
  text-transform: uppercase;
  font-size: 14.58px;
  height: 25px;
  width: 25px;
  border: 1px solid rgba(255, 255, 255, 0.63);
  max-width: 100%;
  margin-top: 3px;
  padding: 2px 5px;
  margin-right: 11px;
}

.footer__training {
  font-size: 10.42px;
  letter-spacing: 0;
}

.footer__text {
  letter-spacing: 0em;
}

.footer__copyrights {
  color: rgba(255, 255, 255, 0.63);
  font-size: 12.08px;
  font-family: 'Museo Sans 100';
  line-height: 1em;
  letter-spacing: -0.01em;
}

.footer__reserv {
  line-height: 1em;
  letter-spacing: -0.01em;
}

.footer__text {
  text-transform: uppercase;
  font-size: 12.08px;
}

.footer__name {
  font-family: 'Museo Sans 700';
}

.footer__link {
  border-bottom: 2px solid rgba(255, 255, 255, 0.31);
}

.footer__link:hover {
  color: #b9182e;
  border-bottom: 2px solid #b9182e;
}

.footer__btn {
  font-size: 13px;
  font-family: 'Museo Sans 700';
  line-height: 1.7em;
  max-width: 156px;
  width: 100%;
}

#scroll_top {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1000; 
  width: 35px;
  height: 35px;
  background: url('../img/hotpng.com.png') no-repeat center center/cover;
  border-radius: 50%;
  opacity: 0.5;
}
#scroll_top:hover {
  opacity: 0.8;

}



/*------ABOUT PAGE-------*/

.about__wrap{
  padding: 160px 0 62px 5px;
  background: #fafafb;
}

.company__title{
  font-family: 'Museo Sans 700', sans-serif;
  font-size: 38px;
  color: #081d42;
  margin-bottom: 10px;
}

.company__wrap span{
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin: 0 3px;
}

.company__wrap a{
  
  color: #49556b;
  font-size: 16px;
  font-family: 'Museo Sans 300', sans-serif;
  text-decoration: underline;
}

.company__wrap p{
  font-family: 'Museo Sans 300', sans-serif;
  font-size: 16px;
  color: #7e838d;
  margin: 0;
}



.active:focus a{
  border-color: #b81c31;
}

.active{
  color: #a1a6af!important;
}

.about__nav{
  display: flex;
  justify-content: flex-end;
}

.about__link{
  padding: 11px 10px 10px 16px;
  font-size: 16px;
  color: #a1a6af;
  font-family: 'Museo Sans 700', sans-serif;
  border: 2px solid transparent;
}

.about__link:hover{
  border: 2px solid #b81c31;
  color: #b81c31;
}




/* ----- Advantage section -----*/

.advantage{
  padding: 50px 0 8px 9px;

}

.advantege__title{
  border-bottom: 2px solid #e5e6e8;
}

.advantage__title{
  color: #081d42;
  font-size: 30px;
  font-family: 'Museo Sans 700', sans-serif;
  margin-bottom: 30px;
}

.advantage__text p{
  color: #404048;
  font-size: 15px;
  font-family: 'Museo Sans 300', sans-serif;
  margin-bottom: 52px;
  line-height: 1.2em !important;
  letter-spacing: 0.023em;
}

.qualities{
  border-top: 2px solid #e5e6e8;
  padding-top: 30px;
}

.qualities__lists{
  margin-bottom: 35px;

}
.qualities__item:before{
   content: '';
    position: absolute;
    bottom: -2px;
    left:-65px;
    width: 85%;
    height: 2px;
    background: #e5e6e8;
}


.qualities__pic{
  width: 60px;
  height: 60px;
  background: transparent;
  border: 2px solid #102e62;
  border-radius: 50%;
  display: flex;
  align-items: center;
    justify-content: center;
    margin-top: 5px;
    
}

.qualities__title{
  font-family: 'Museo Sans 700', sans-serif;
  font-size: 19px;
  color: #081d42;
  margin-bottom: 17px;
}

.qualities__text{
  font-family: 'Museo Sans 300', sans-serif;
  font-size: 14px;
  color: #404048;
  margin-bottom: 32px;
  line-height: 1.2em;
  letter-spacing: 0.02em;
}


/* ----- Power section -----*/


.power{
  padding-bottom: 65px;
}

.power__title{
  font-family: 'Museo Sans 700', sans-serif;
  font-size: 30px;
  color: #081d42;
  margin-bottom: 42px;
}

.pic{
  position: relative;
  max-width: 269px;
  margin: 0 auto;
}

.pic__img{
  width: 100%;
  display: block;
}

.pic__arrows{
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 1s ease;
  color: #fff;
  border: 7px solid #9a97a7;
  background: rgba(58, 68, 86, 0.69);
}

.pic__arrows:hover{
  opacity: 1;
}



/*------SERVICES PAGE---------*/

.lawyer {
  background: url(../img/law.jpg) no-repeat center top / cover;
  color: #fff;
  position: relative;
  padding-top: 42px;
  padding-bottom: 26px;
}

.about__item_services{
  margin-right: 23px;
}
.over {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(88, 94, 122, 0.69);
  top: 0;
    left: 0;
}

.teamwork {
  background: url(../img/circle.jpg) no-repeat;
  height: 206px;
  width: 204px;
    border-radius: 50%;
    position: relative;
    margin: 18px auto;
}

.teamwork__overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
    background: rgb(88, 94, 122, 0.20);
}

.lawyer-title {
  color: #fff;
  font-size: 25px;
  line-height: 1em;
  margin-top: 27px;
  letter-spacing: 0.02em;
}

.lawyer-text {
  line-height: 1.2em;
    margin-top: 21px;
    letter-spacing: 0.02em;
    max-width: 325px;
    font-size: 15px;
    margin-left: 0;
}

.categories {
  font-size: 15px;
    border: 2px solid rgba(255, 255, 255, 0.48);
    border-radius: 5px;
    padding: 15px 52px 5px 29px;
}

.categories__item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 12px;
}


.categories__link {
    letter-spacing: 0.03em;
    border-bottom: 1px solid transparent;
}

.categories__link:hover {
  border-bottom: 1px solid #e6e6e9;
}

.categories span {
  font-size: 12px;
  font-family: 'Arial', sans-serif;
  margin-right: 8px;
}

.about__link span{
    font-size: 12px;
    display: block;
        font-family: 'Museo Sans 100', sans-serif;
 }
 .about__link{
  display: block;
 }
 .about__item{
  margin-right: 2px;
 }



 /*MAIN CONTENT*/

.second-title {
  font-size: 30px !important;
  font-family: 'Museo sans 700';
  padding-top: 50px;
}

.main-text {
  font-size: 15px;
  margin-top: 20px;
}

.main-text p {
  line-height: 1.3em;
  margin-bottom: 15px;
}

.main-text p:last-child {
  margin-bottom: 0;
}

.consultation {
  max-width: 470px;
  border: 2px solid #e3e4e6;
  border-radius: 5px;
  margin-top: 34px;
    padding: 28px 11px 28px 30px;
    margin-bottom: 53px;
    background: url(../img/message.png) no-repeat 96% 84%;
}

.consultation__title {
  font-size: 16px;
    letter-spacing: 0.02em;
    margin-bottom: 15px;
}

.consultation__btn {
  border: 2px solid #b81c31;
    border-radius: 3px;
    color: #b81c31;
    background: transparent;
    padding: 6px 25px 9px 17px;
    font-size: 14px;
    box-shadow: none;
}

.consultation__btn:hover {
  background: #b81c31;
  color: #fff;
  border: 2px solid #b81c31;
}

.consultation__number {
  font-family: 'Museo Sans 700', sans-serif;
  margin-left: 14px;
}

.consultation__number:hover {
  color: #b81c31;
}

.consultation__text {
  max-width: 225px;
    font-size: 12px;
    color: #888d95;
    margin-top: 14px;
    line-height: 1.33em;
    margin-left: 0;
}

.navigation-block {
  background: #fafafb;
  height: 100%;
  padding-bottom: 50px;
}

.navigation-block__title {
  font-size: 17px;
    letter-spacing: 0.05em;
    color: #989eaa;
    padding: 47px 48px 40px 27px;
}

.navigation-block__list {
  font-size: 15px;
  color: #747487;
  border-top: 1px solid #dfdfe8;
}

.navigation-block__list li {
  border-bottom: 1px solid #dfdfe8;
    padding: 13px 15px 7px 26px;
    position: relative;
    
}

.navigation-block__list li:before {
  content: '';
  height: 11px;
  width: 11px;
  display: inline-block;
  background: #aeaeb9;
  border-radius: 2px;
  position: absolute;
  top: 18px;
    left: 27px;
}

.navigation-block__list a {
  letter-spacing: 0.01em;
  margin-left: 30px;
  display: block;
  font-family: 'Museo Sans 700', sans-serif;
  max-width: 190px;
}

.navigation-block__list a:hover {
  color: #aeaeb9;
}


.navigation-block__title_reviews {
  padding-top: 49px;
}

.slider {

}

.slider__item {
  text-align: center;
  position: relative;
}

.slider__photo {
  margin: 0 auto;
  border-radius: 50%;
}
.slider__button{
  position: absolute;
  display: block;
  top: 17%;
  font-size: 25px;
  border: none;
  background: #fafafb;
  
}

.slider__button:hover{
  font-size: 28px;
  cursor: pointer;
}


.slider__button_back {
  left: 27px;
}


.slider__button_forward{
    font-size: 25px;
    left: 89%;
}

.slider__title {
  font-size: 15px;
  color: #747487;
  margin-top: 13px;
}

.slider__text {
  max-width: 285px;
  margin: 11px auto;
  letter-spacing: 0.02em;
  line-height: 1.3em;
  font-size: 13px;
}


.slider__link {
  justify-content: center;
  color: #2c60a0;
  display: block;
  font-size: 14px;
  outline: none;
}

.slider__link i {
  border: 1px solid transparent;
  padding: 3px 6px;
}

.slider__link i:hover {
  border: 1px solid #2c60a0;
  color: #fff;
  background: #2c60a0;
}

.slider__dots{
  margin-top: 20px;
    display: block;
    width: 100%;
}

.slider__dots li button{
    width: 15px;
    height: 15px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
   
    border: none;
}

.slider__dots li button:hover{
   background:  #8b9ab7;
}


/*------CONTACTS-------*/

.maps {
  position: relative;
  min-height: 441px;
}

.mapss {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.visit {
  position: relative;
  max-width: 470px;
  margin-top: 40px;
  width: 100%;
  background-color: rgba(124,132,147,0.8);
  border-radius: 5px;
  padding: 18px 35px 56px 30px;
  z-index: 2;
}

.visit:before {
  content:'';
  position: absolute;
  top: 22px;
    left: -17px;
  border-radius: 4px 0 0 0;
  border: 17px solid transparent;
  border-top: 17px solid rgba(124,132,147,0.8);
  border-left: 17px solid rgba(124,132,147,0.8);
    transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}

.visit__main {
  position: relative;
  border-bottom: 2px solid rgba(255,255,255,0.6);
  padding-bottom: 11px;
}

.visit__title {
  font-size: 21px;
  color: #fff;
}

.point {
  margin-top: 46px;
}

.point address {
  margin: 26px 0 23px;
}

.fa-location-arrow {
  margin: 5px 12px 0 0;
}

.point__contact .fa-phone-alt {
  margin-right: 4px;
}

.point__contact .fa-envelope {
  margin: 0 4px 0 3px;
}

.point__contact i {
  color: #fff;
  font-size: 12px;
    left: 38px;
}

.point__contact {
  margin-left: 6px;
  min-width: 187px;
}

.point__address, .point__tel, .point__mail {
  font-size: 16px;
}

.point__tel {
  display: block;
  color: #fff;
  margin-bottom: 6px;
}

.point__tel:hover, .point__mail:hover {
  color: #e3e4e7;
}

.point__address, .point__mail {
  color: #fff;
}

.point__mail .fa-envelope {
  font-size: 16px;
} 

.text {
  max-width: 180px;
}

.text p {
  font-size: 12px;
  color: #e3e4e7;
}

.text__item:not(:last-child) {
    margin-bottom: 15px;
    margin-top: -3px;
}
.social_services {
  background: none;
    margin-top: 0px;
    box-shadow: none;
    align-items: baseline;
    justify-content: flex-end;
    width: 130px; 
    font-size: 20px;

}
.about__item_contacts{
  margin-right: 23px;
}

.social_services a {
  color: #fff;
  border: 2px solid #fff;
  margin-left: 23px;
  padding: 3px;

}
.social__link:hover{
  background: #fff;
  color: blue;
  border-radius: 20%
}